.header{
	background-color: black;
	padding-top: 25px;
	padding-bottom: 25px;
}
#titulo{
	color: white;
	text-align: center;
}
.cuerpo{
	background-color: #34C0D7;
}
.contenedor-calculadora{
	background-color: white;
	width: 900px;
	height: 400px;
}
#calculadora-titulo{
	text-align: center;
	font-size: 30px;
}
.numero{
	padding: 10px;
	border-radius: 2px;
	font-size: 40px;
}
.inputs{
	
	display: inline-block;
	height: 100px;
	width:300px
	
}
#div-izquierda{
	float: left;
	background-color: transparent; 
	width: 300px;
	height: 50px; 
}
#div-derecha{
	float: right;
	background-color: transparent;
	width: 300px;
	height: 50px;
}